.c1{
  color: red;
  border: 1px solid green;
}

/* ul li{
  display: inline;
  padding: 5px;
  float: right;
}
nav{
  background-color: greenyellow;
  height: 2em;
}
li a{
  text-decoration: none;
} */